[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
flake8 = "*"
mypy = "*"

[packages]
celery = "*"
flask = "*"
waitress = "*"
redis = "*"
requests = "*"
utm = "*"
numpy = "*"

[requires]
python_version = "3.8"

[scripts]
celery = "celery -A src.server.celery worker --loglevel=info"
dev = "flask run --reload --debugger"
format = "black -l 80 ."
lint = "flake8 --max-line-length 80 src"
prod = "waitress-serve src.server:server"
test = "python -m unittest test"
typecheck = "mypy --strict src"
