[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mypy = "*"
black = "*"

[packages]
flask = "*"
waitress = "*"
requests = "*"

[requires]
python_version = "3.7"

[scripts]
typecheck = "mypy --strict ."
format = "black -l 80 ."
lint = "flake8 --max-line-length 80 ."
dev = "flask run --reload --debugger"
prod = "waitress-serve wsgi:server"
