[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
flake8 = "*"
mypy = "*"

[packages]
celery = "*"
flask = "*"
waitress = "*"
requests = "*"

[requires]
python_version = "3.8"

[scripts]
typecheck = "mypy --strict ."
format = "black -l 80 ."
lint = "flake8 --max-line-length 80 ."
dev = "flask run --reload --debugger"
prod = "waitress-serve src.server:server"
